a{
    background: #c2edff;
    padding: 0.1em;
    max-width: fit-content;
}

p{
    position: relative;
    display: inline-block;
    padding: 0 55px;
}

p:before, p:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 2px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
  }
  
  p:before {
    left:0;
  }
  p:after {
    right: 0;
  }

.slide01{
    background-position: center center;
    background-size: cover;
}

.slide02{
    background-image: url(./mafia.jpg);
    background-position: center center;
}

.slide03 h2{
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
}

.slide03-1{
    background-image: url(./python.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.slide03-2{
    background-image: url(./elixir.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.slide03-3{
    background-image: url(./java.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.slide03-4{
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}